.form-custom {
    background-color: white;
    min-height: 250px !important;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px;
    box-shadow: 0 5px 10px #888888;
    border-radius: 10px;
}

.formulario {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.background {
    height: 100vh;
    background: #fff;
    background: linear-gradient(90deg, #f2f2f2, #d9d9d9, #bfbfbf, #a6a6a6);
    background-size: 800% 800%;
    -webkit-animation: Gradient 8s ease infinite;
    -moz-animation: Gradient 8s ease infinite;
    animation: Gradient 8s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-custom {
    border-radius: 50px !important;
    width: 100%;
}

.ml-auto {
    left: auto !important;
    right: 0px;
}

.recharts-legend-item-text {
    text-transform: capitalize !important;
}

.recharts-default-legend {
    margin-bottom: 40px !important;
}

.descritiva-main {
    margin-top: 100px;
}

.import {
    background-color: transparent;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 65%;
}

.btn-import {
    width: 70%;
    margin-bottom: 15px !important;
    color: #555;
}

.custom-file-label {
    color: rgb(108, 117, 125) !important;
}

#btnVoltar {
    /* max-width: 15%; */
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.btn-up-down {
    display: inline-flex;
    padding: 0.25rem !important;
    max-width: 50px;
}

.btn-up-down span {
    font-size: 1.3rem;
}

.btn-up-down span :hover {
    font-size: 1.6rem;
    cursor: pointer;
}

.medidas {
    margin: 0 auto 50px auto;
    font-size: 1.3rem;
}

.correlacao-projecoes {
    display: inline-flex;
    max-width: 15%;
}