

.form-custom {
    background-color: white;
    min-height: 300px !important;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    box-shadow: 0 5px 10px #888888;
    border-radius: 10px;
}

.formulario {
    padding: 10%;
}

body {
    height: 100vh;
}

.background {
    height: 100vh;
    background: lightgrey;
}

.btn-custom {
    border-radius: 50px;
    width: 100%;
}

.ml-auto {
    left: auto !important;
    right: 0px;
}

.recharts-legend-item-text {
    text-transform: capitalize !important;
}