body, html {
    min-height: 100vh;
}

.form-custom {
    background-color: white;
    min-height: 250px !important;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5%;
    box-shadow: 0 5px 10px #888888;
    border-radius: 10px;
}

.background {
    min-height: 100vh;
    background: lightgrey;
}

.btn-custom {
    border-radius: 50px;
    width: 100%;
}

.ml-auto {
    left: auto !important;
    right: 0px;
}

.recharts-legend-item-text {
    text-transform: capitalize !important;
}

.recharts-default-legend {
    margin-bottom: 40px !important;
}