.stars {
    background-image: url("../imagens/stars.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.stars-row {
    text-align: center;
    height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.stars-img {
    width: 60%;
    height: 60%;
}

.wingard {
    display: block;
	align-items: center;
	justify-content: center;
    color: white;
    width: 100%;
}
